:root {
    --white: #FFFFFF;
    --grey: #D3D3D3;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

*   {
    margin: 0;
    padding: 0;
}

h1  {
    display: flex;
    background-color: var(--white);
    height: 100px;
    align-items: center;
    padding-left: 100px;
    box-shadow: var(--shadow);

}

h2  {
    text-align: center;
}

body    {
    background-color: var(--grey);
    display: flexbox;
    align-items: center;
    text-align: center;
}

.addBookContainer   {
    display: inline-block;
}

#bookFormPopup  {
    display: flexbox;
    visibility: hidden;
}
.bookFormPopup {
    /* display: flexbox; */
    align-items: center;    
    justify-content: center;
    max-width: 200px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
}

#myForm input[type=text]{
    width: auto;
    padding: 10px;
    margin: 5px 0px 5px 0px;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
  }

.submitBook   {
    width: 80%;
    margin: 5px 0px 0px 0px;
    padding: 5px;
    border-radius: 5px;
  }

.checkBox {
    margin-left: 10px;
}


.openFormBtn {
    background-color: var(--grey);
    font-size: 28px;
    height: 45px;
    width: 150px;
    border: none;
    margin: 32px;
}
.openFormBtn:hover   {
    transition:  0.65s ease-in-out;
    background-color: var(--white);
    border-radius: 10px;
}